
  @import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&family=Raleway:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.conatiner {
    max-width: 80vw;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(228, 194, 131,0.8);


}

.head {
    color: rgb(251, 167, 0);
    font-size: 30px;
}

.img1.img {
    width: 12px;
    height: 12px;
}

.navbar {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 67px;



}



.navbar li {
    color: black;
    list-style: none;
    margin: 0 12px;
    font-size: 20px;
    text-transform: capitalize;
}

.navbar li:hover {
    background-color: rgba(255, 166, 0, 0.463);
    border: 2px solid rgba(255, 166, 0, 0.463);
    width: 80px;
    text-align: center;
    border-radius: 10px;
    height: 5%;
}


.sec1 {
    display: flex;
  
}

.topleft {

height: 0 141px;
    width: 466px;
     padding: 0px 42px; 
     margin-top: 161px;

}


.topleft p {

    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family:  sans-serif;
}

.topleft span {
    color:rgba(255, 166, 0, 0.619);

    font-size: 37px;
}
.topleft img{
  width:114px;
padding: 0px 171px;
}

.topright {
  overflow: hidden;

}

.topright img {
    display: flex;
 height:45vw;
 


}

.sec2 {
    margin-top: 26px;
    margin-bottom: 26px;
}

.sec2 h1 {
    font-size: 2rem;
}

.text {
    text-align: center;
}

.sec2 p {
   
    text-align: center;
    padding: 0 8vw;
}

.boxes {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition:all 0.4s ease-out;
   

}

.box {
    padding: 8px 0px;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(248, 207, 130);
    text-align: center;


}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px
}


.box ul button {
    color: rgb(242, 168, 31);
    background-color: #006fff05;
    height: 45px;
    width: 55%;
    border: 2px rgb(226, 197, 144) solid;
    font-style: italic;
    cursor: pointer;
  
}
.box ul button:hover {
    background-color: rgb(255, 240, 213);
    
}
 
.box h2 {
    font-size: 2rem;
    padding: 12px 0;
}

.highlighted {
    font-size: 2.2rem;
    font-weight: bolder;
    color: rgb(248, 181, 57);
}
.sec3 span{
    color:black;
    display: flex;
    gap:15vw;
    margin-left: 40%;
    font-size: larger;
    padding: 17px;
 
}
.sec3{
    width: 80vw;
 
    
}

.sec3 ul{
    display: grid;
    color: black;
    font-weight: bolder;
    gap: 24px;
    margin-left: 13%;
    list-style: none;
}

.sec3 ul li{

    border-bottom: 1px solid black;
   
}

footer{
    padding: 53px;
    text-align: center;
}